<div class="row">
  <div class="col-md-3">
    <p>Previous Polls</p>

    <ul>
      <li **ngFor="let item of currentPoll | values:'title'">{{item.title}}</li>
    </ul>

    <button type="button" class="btn btn-default" (click)="create = true">Create New Poll</button>
  </div>
  <div class="col-md-9">

    <h2>{{currentPoll.title}}</h2>
    <input type="text" #currentPoll.title>



    <div class="btn-group mb-10" role="group" aria-label="...">
      <button type="button" class="btn btn-default">Add Question</button>
    </div>



    <div class="btn-group mb-10" role="group" aria-label="...">
      <button type="button" class="btn btn-default">Done</button>
      <button type="button" class="btn btn-default">Start Over</button>
    </div>
  </div>
</div>
