<h1>
  {{title}}
</h1>

<div> {{ (af.auth | async)?.uid }} </div>

<!--<div> {{ (af.auth | async)?.uid }} </div>
 <button (click)="loginGitHub()">Login With Github</button>
 <button (click)="loginGoogle()">Login With Google</button>

<ul>
  <li *ngFor="let item of filteredItems | async">
    {{ item.text }}
  </li>
</ul>
<div>
  <h4>Filter by size</h4>
  <button (click)="filterBy('small')">Small</button>
  <button (click)="filterBy('medium')">Medium</button>
  <button (click)="filterBy('large')">Large</button>
</div>


<ul>
    <li *ngFor="let item of items | async">
      <input type="text" #updatetext [value]="item.text" />
      <button (click)="updateItem(item.$key, updatetext.value)">Update</button>
      <input type="text" #updateSize [value]="item.size" />
      <button (click)="updateItemSize(item.$key, updateSize.value)">Update Size</button>
      <button (click)="deleteItem(item.$key)">Delete</button>
    </li>
  </ul>
  <input type="text" #newitem />
  <button (click)="addItem(newitem.value)">Add</button>
  <button (click)="deleteEverything()">Delete All</button>


<h1>{{ item | async | json }}</h1>
  <input type="text" #newname placeholder="Name" />
  <input type="text" #newsize placeholder="Size" />
  <br />
  <button (click)="save(newname.value)">Set Name</button>
  <button (click)="update(newsize.value)">Update Size</button>
  <button (click)="delete()">Delete</button>-->

<nav>
    <a routerLink="/create" routerLinkActive="active">Create</a>
    <a routerLink="/poll" routerLinkActive="active">View</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
</nav>

 <!-- Router Outlet -->
<router-outlet></router-outlet>